h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* body */
.body-style {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* logo whole*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

/* logo part-"studio" header */
.studio-logo {
  color: #2e2f42;
}

/* address */
.address-style {
  font-style: normal;
}

/* backgraund */
.header-ground {
  background-color: #fff;
}

.list-ground {
  background-color: #ffffff;
}

/* google fonts */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* font */
body {
  font-family: "Roboto", "Raleway";
}

/* list formatting */
ul,
ol {
  list-style-type: none;
  text-decoration: none;
}

/* text formatting */
/* h3 on left dla Section 1, Section 3-"Our Portfolio"*/
.hthree-left {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* h3 center for Section 2-"Our Team"*/
.hthree-center {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
/* text on left */
.text-left {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* text center for Section 2-"Our Team"*/
.text-center {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* center whole */
.center {
  text-align: center;
}

/* logo */
.navi-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  font-style: normal;
}
.navi-menu:hover,
.navi-menu:focus {
  color: #404bbf;
}

/* link */
.link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

/* formating from the top */
/* Section "header" */
.header-flex {
  display: flex;
  margin-left: 141px;
  height: 72px;
  width: 1158px;
  justify-content: space-between;
  align-items: center;
}
/* Section "Hero" */
/* h1 */
.hero-space {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}
.h-one {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  padding-top: 197.5px;
  word-break: normal;
  padding-left: 472px;
  padding-right: 472px;
  text-align: center;
  margin-bottom: 48px;
}
/* button */
.bat-ton {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  margin-left: 636px;
}
.bat-ton:hover,
.bat-ton:focus {
  background-color: #404bbf;
}
/* Section 1 "Effective..."*/
/* nie wyznaczałem zakresu height i width dla tej sekcji */
/* nagłówek h2, którego fizycznie nie ma jest "wyśrodkowany" na oko */
/* h2 center */
.h-two {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-left: 600px;
  color: #2e2f42;
}
/*margin-top dla .sectionone-flex powinien być 120px, ale zrobiłem 80px, bo powyżej jest wcisnięty 
nie wiem po co, ale jest wymagany, nagłówek h2 */
.sectionone-flex {
  display: flex;
  margin-top: 80px;
  margin-bottom: 120px;
  margin-left: 141px;
  height: 104px;
  width: 1158px;
  justify-content: space-between;
  gap: 24px;
}
/* Section 2 "Our Team" */
.team-space {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
}
.sectiontwo-flex {
  display: flex;
  margin-left: 141px;
  margin-bottom: 120px;
  padding-top: 72px;
  height: 380px;
  width: 1158px;
  justify-content: space-between;
  gap: 24px;
}
.htwo-team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  padding-left: 600px;
  color: #2e2f42;
}
/* Section 3 "Our Portfolio" */
.sectionthree-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 141px;
  margin-bottom: 120px;
  padding-top: 72px;
  height: 888px;
  width: 1158px;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 12px;
}

.htwo-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  padding-left: 611px;
  color: #2e2f42;
}
/* footer */
.footer-ground {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;

  .footer-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 156px;
  }
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

/* Logo part-"studo" footer */
.studiologo-footer {
  color: #f4f4fd;
}
/* text footer */
.text-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
